<div id="<%= dom_id boat %>">
  <div>
    <strong>Name:</strong>
    <%= boat.name %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= boat.description %>
  </div>

  <div>
    <strong>Length:</strong>
    <%= boat.length %>
  </div>

</div>
