<p style="color: green"><%= notice %></p>

<% content_for :title, "Boats" %>

<h1>Boats</h1>


<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Length</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @boats.each do |boat| %>
      <%= render partial: "boat", locals: { boat: boat } %>
    <% end %>
  </tbody>
</table>

<%= link_to "New boat", new_boat_path, class: "btn btn-primary" %>
